@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition-duration: 1s;
}

.menu-item{
    cursor:pointer;
}

#Header{
    --opacidad-negro: 0.8;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url('/fondoHeader.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}